
# BEGIN WPForms
# دستورالعمل‌های (خطوط) بین "BEGIN WPForms" و "END WPForms"
# به طور پویا تولید شده‌اند، و فقط باید به وسیلهٔ صافی‌های وردرپرس ویرایش شوند.
# هر تغییری در دستورالعمل‌های بین این نشان‌گرها بازنویشی خواهند شد.
# Disable access for any file in the cache dir.
# Apache 2.2
<IfModule !authz_core_module>
	Deny from all
</IfModule>

# Apache 2.4+
<IfModule authz_core_module>
	Require all denied
</IfModule>
# END WPForms