
# BEGIN INDEX
# دستورالعمل‌های (خطوط) بین "BEGIN INDEX" و "END INDEX"
# به طور پویا تولید شده‌اند، و فقط باید به وسیلهٔ صافی‌های وردرپرس ویرایش شوند.
# هر تغییری در دستورالعمل‌های بین این نشان‌گرها بازنویشی خواهند شد.
Options -Indexes
# END INDEX